.border-color-mishtv {
    border-color: rgba(83, 83, 95, 0.48);
}

.buscador {
    border-color: rgba(83, 83, 95);
}

.buscador:hover {
    box-shadow: inset 0 0 0 1px rgba(83, 83, 95);
}

.buscador:active,
.buscador:focus {
    outline: rgb(168 85 247) solid 2px;
    box-shadow: inset 0 0 0 1px rgb(168 85 247);
    border-color: rgb(168 85 247);
}

.video-cont {
    height: calc(100vh - 160px);
}

.custom-video {
    width: 100%;
    height: calc(100vh - 160px);
}

.height-content {
    height: calc(100vh - 50px);
}

.vjs-fullscreen .custom-video,
.vjs-fullscreen video {
    height: 100% !important;
    width: 100% !important;
}

.button-hoverable:hover {
    background-color: rgba(83, 83, 95, 0.48);
    color: #efeff1;
}

.hoverable-content {
    background: linear-gradient(180deg,#9146ff 0,#69ffc3 61.98%,#1e69ff);
}

.hoverable-content:hover {
    transform: translate3d(0.6rem, -0.6rem, 0px);
}

.clip-inset {
    clip-path: inset(5px);
}

.scrollable-content:hover,
.scrollable-content:active,
.scrollable-content:focus {
    overflow-y: scroll;
}

.scrollable-content::-webkit-scrollbar {
    width: 0.5em;
}

.scrollable-content::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 10px;
}

.scrollable-none {
    scrollbar-width: none;
}