<nav th:fragment="navbar" class="bg-[#18181b] h-[50px] text-white px-4 py-3 flex items-center justify-between shadow-md">
    <!-- Logo -->
    <div class="flex items-center space-x-2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Twitch_Glitch_Logo_Purple.svg" alt="Logo" class="h-6 w-auto">
        <span class="text-md font-bold">Mi App</span>
    </div>


    <div class="hidden md:flex space-x-4">
      <a href="#" class="hover:text-purple-400">Inicio</a>
      <a href="#" class="hover:text-purple-400">Películas</a>
      <a href="#" class="hover:text-purple-400">Contacto</a>
    </div>

    <!-- Perfil -->
    <div class="flex items-center space-x-2">
        <span class="text-sm font-semibold">Usuario Demo</span>
        <img src="https://4nite.site/images/webp/Character_DoubleDutyDart.webp" alt="Perfil" class="h-9 w-9 rounded-full border border-purple-500">
    </div>
</nav>