<aside th:fragment="sidebar (movieFavorites, moviesPending, moviesRecommended, movieId)">
    <div class="bg-[#1f1f23] w-[280px] h-full overflow-hidden scrollable-content p-2">
        <div th:if="${movieFavorites != null} and ${#lists.size(movieFavorites) > 0}">
            <div th:replace="(~{fragments/sidebar-movies :: sidebar-content(
                        title='PELÍCULAS FAVORITAS',
                        movies=${movieFavorites})})">
            </div>
        </div>
        <div th:if="${moviesPending != null} and ${#lists.size(moviesPending) > 0}">
            <div th:replace="(~{fragments/sidebar-movies :: sidebar-content(
                        title='PELÍCULAS QUE NO HAS VISTO',
                        movies=${moviesPending})})">
            </div>
        </div>
        <div th:if="${moviesRecommended != null} and ${#lists.size(moviesRecommended) > 0} and ${movieId != null}">
            <div th:replace="(~{fragments/sidebar-movies :: sidebar-content(
                        title='LOS ESPECTADORES DE ' + ${movieId} + ' TAMBIÉN VEN',
                        movies=${moviesRecommended})})">
            </div>
        </div>
    </div>
</aside>