<aside th:fragment="sidebar (movieFavorites, moviesPending, moviesRecommended, movieId)">
    <div class="bg-[#1f1f23] w-[280px] h-full overflow-hidden scrollable-content p-2">
        <div th:if="${movieFavorites != null && movieFavorites.size() > 0}"
                th:replace="(~{fragments/sidebar-movies ::
                sidebar-content(title='PELÍCULAS FAVORITAS',
                movies=${movieFavorites})})">
        </div>

        <div th:if="${moviesPending != null && moviesPending.size() > 0}"
                th:replace="(~{fragments/sidebar-movies ::
                sidebar-content(title='PELÍCULAS QUE NO HAS VISTO',
                movies=${moviesPending})})">
        </div>
        <div th:if="${moviesRecommended != null && moviesRecommended.size() > 0}"
                th:replace="(~{fragments/sidebar-movies ::
                sidebar-content(
                    title='LOS ESPECTADORES DE ' + ${movieId} + ' TAMBIÉN VEN',
                    movies=${moviesRecommended})})">
        </div>
    </div>
</aside>