<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/css/main.css}" href="/styles/css/main.css">
    <link th:href="@{/images/mishtv.png}" rel="shortcut icon" type="image/x-icon">
</head>
<body class="bg-gray-950 text-white h-screen overflow-hidden">

<nav th:replace="(~{fragments/navbar :: navbar})"></nav>
<div class="flex relative overflow-hidden height-content">

    <!-- Sidebar Left -->
    <aside th:replace="(~{fragments/sidebar ::
                sidebar(movieFavorites=${movieFavorites},
                moviesPending=${moviesPending},
                moviesRecommended=null,
                movieId=null)})">
    </aside>

    <!-- Maincard -->
    <main class="w-full relative flex flex-col px-6 py-4 gap-4 overflow-hidden scrollable-content scrollable-none">

        <h1 class="text-[54px] font-bold py-2" th:text="${titlePage}">Titles</h1>

        <div class="flex flex-row gap-4">
            <form class="relative w-full h-full" th:action="@{/backoffice/saveMovie}" method="post">
                <div class="mb-4">
                    <label for="id" class="block text-lg font-medium">Codigo</label>
                    <input type="text" id="id" name="id" class="mt-1 px-2 py-1 block w-full border-gray-300 rounded-md shadow-sm text-black focus:border-blue-500 focus:ring-blue-500">
                </div>
                <div class="mb-4">
                    <label for="image" class="block text-lg font-medium">Url video</label>
                    <input type="text" id="image" name="image" class="mt-1 px-2 py-1 block w-full border-gray-300 rounded-md shadow-sm text-black focus:border-blue-500 focus:ring-blue-500">
                </div>

                <div class="mt-6">
                    <button type="submit" class="inline-block bg-purple-500 text-white py-2 px-4 rounded hover:bg-purple-600">Guardar</button>
                </div>
            </form>

            <form class="relative w-full h-full" th:action="@{/backoffice/saveMovieList}" method="post">
                <div class="mb-4">
                    <label for="moviesCreate" class="block text-lg font-medium">Url video</label>
                    <textarea type="text" id="moviesCreate" name="moviesCreate" placeholder="Ingresa lista separada por comas y sin espacios"
                              class="h-[114px] mt-1 px-2 py-1 block w-full border-gray-300 rounded-md shadow-sm text-black focus:border-blue-500 focus:ring-blue-500"></textarea>
                </div>

                <div class="mt-6">
                    <button type="submit" class="inline-block bg-purple-500 text-white py-2 px-4 rounded hover:bg-purple-600">Guardar</button>
                </div>
            </form>

        </div>

        <div th:if="${moviesFailed != null && moviesFailed.size() > 0}">
            <h2 class="text-3xl font-bold py-2">Películas con error</h2>
            <ul class="flex flex-col gap-2 text-purple-500">
                <li th:each="movie : ${moviesFailed}">
                    <a th:href="@{/backoffice/movie/{id}(id=${movie})}" th:text="${movie}">Enlace</a>
                </li>
            </ul>
        </div>

        <div th:if="${moviesDownloaded != null && moviesDownloaded.size() > 0}">
            <h2 class="text-3xl font-bold py-2">Películas descargadas</h2>
            <div class="grid grid-cols-5 gap-4">
                <article th:each="movie : ${moviesDownloaded}">
                    <a th:href="@{/backoffice/movie/{id}(id=${movie.id})}">
                        <div class="hoverable-content" >
                            <div class="clip-inset">
                                <img th:if="${movie.images != null}" class="rounded-lg w-full" th:src="${movie.images.fullCover}" th:alt="'movie ' + ${movie.id}">
                            </div>
                        </div>
                        <p class="w-full whitespace-nowrap overflow-hidden text-ellipsis" th:text="${movie.title}"></p>
                        <p th:text="${movie.date}" class="text-xs text-[#adadb8]"></p>
                    </a>
                    <div class="flex flex-row gap-1">
                        <a th:each="actor : ${movie.cast}" th:text="'#' + ${actor}" th:href="@{/backoffice/cast/{actor}(actor=${actor})}"
                           class="text-xs text-purple-500 hover:cursor-pointer">
                        </a>
                    </div>
                    <div class="my-0.5">
                        <a th:href="@{/backoffice/studio/{studio}(studio=${movie.studio})}">
                        <span th:text="${movie.studio}"
                              class="inline-block bg-yellow-600 text-slate-800 rounded-full px-2 text-[11px] font-bold"></span>
                        </a>
                    </div>
                </article >
            </div>
        </div>



        <footer class="flex justify-center items-center pt-4 mt-auto">
            <img class="rounded-lg w-6 h-fit mr-2" th:src="@{/images/mishtv.png}" alt="Logo">
            Mish.tv <a href="https://github.com/manueljesusmatus" target="_blank" class="text-purple-500 ml-2">@mmatush</a>
        </footer>

    </main>
</div>
</body>
</html>