<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mish.tv</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/css/main.css}" href="/styles/css/main.css">
    <link th:href="@{/images/mishtv.png}" rel="shortcut icon" type="image/x-icon">
</head>
<body class="bg-gray-950 text-white h-screen overflow-hidden">

<nav th:replace="(~{fragments/navbar :: navbar})"></nav>
<div class="flex relative overflow-hidden" style="height: calc(100vh - 50px)">

    <!-- Sidebar Left -->
    <aside class="bg-[#1f1f23] w-[340px] overflow-hidden scrollable-content p-2">
        <div th:replace="(~{fragments/sidebar-movies ::
            sidebar-content(title='PELÍCULAS QUE SIGO',
            movies=${moviesFollowed})})">
        </div>

        <div th:replace="(~{fragments/sidebar-movies ::
            sidebar-content(title='PELÍCULAS DISPONIBLES',
            movies=${moviesAvailable})})">
        </div>
    </aside>

    <!-- Maincard -->
    <!--<main class="w-full relative px-6 py-4 overflow-hidden scrollable-content" style="scrollbar-width: none">-->
    <main class="w-full relative flex flex-col px-6 py-4 overflow-hidden scrollable-content" style="scrollbar-width: none">

        <div class="flex justify-center items-center my-4">
            <img class="rounded-lg w-[300px] h-fit mr-2" th:src="@{/images/mishtv.png}" alt="Logo">
            Carrusel wip
        </div>

        <div>
            <h2 class="text-lg font-semibold mb-2" th:text="'Películas que podrían gustarte'">Movie title</h2>
            <div th:replace="(~{fragments/section-recommended ::
            section-recommended(moviesList=${moviesRecommended},
            mostrarMas='/backoffice/directory')})">
            </div>
        </div>

        <div>
            <h2 class="text-lg font-semibold mb-2">
                Películas <a class="text-purple-500 hover:underline" th:href="@{'/backoffice/genre/' + ${genreRecommended}}" th:text="${genreRecommended}">Movie title</a>
            </h2>
            <div th:replace="(~{fragments/section-recommended ::
            section-recommended(moviesList=${genreRecommendedList},
            mostrarMas='/backoffice/genre/' + ${genreRecommended})})">
            </div>
        </div>

        <div>
            <h2 class="text-lg font-semibold mb-2">
                Más de <a class="text-purple-500 hover:underline" th:href="@{'/backoffice/cast/' + ${actorRecommended}}" th:text="${actorRecommended}">Movie title</a>
            </h2>
            <div th:replace="(~{fragments/section-recommended ::
            section-recommended(moviesList=${actorRecommendedList},
            mostrarMas='/backoffice/cast/' + ${actorRecommended})})">
            </div>
        </div>

        <div>
            <h2 class="text-lg font-semibold mb-2">
                De estudio <a class="text-purple-500 hover:underline" th:href="@{'/backoffice/studio/' + ${studioRecommended}}" th:text="${studioRecommended}">Movie title</a>
            </h2>
            <div th:replace="(~{fragments/section-recommended ::
            section-recommended(moviesList=${studioRecommendedList},
            mostrarMas='/backoffice/studio/' + ${studioRecommended})})">
            </div>
        </div>

        <footer class="flex justify-center items-center pt-4 mt-auto">
            <img class="rounded-lg w-6 h-fit mr-2" th:src="@{/images/mishtv.png}" alt="Logo">
            Mish.tv <a href="https://github.com/manueljesusmatus" target="_blank" class="text-purple-500 ml-2">@mmatush</a>
        </footer>
    </main>
</div>
</body>
</html>