<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${movie.title}"></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/css/main.css}" href="/styles/css/main.css">
    <link th:href="@{/images/mishtv.png}" rel="shortcut icon" type="image/x-icon">
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
</head>
<body class="bg-gray-950 text-white h-screen overflow-hidden">

<nav th:replace="(~{fragments/navbar :: navbar})"></nav>
<div class="flex relative overflow-hidden height-content">

    <!-- Sidebar Left -->
    <aside th:replace="(~{fragments/sidebar ::
                sidebar(movieFavorites=${movieFavorites},
                moviesPending=${moviesPending},
                moviesRecommended=${moviesRecommended},
                movieId=${movie.id})})">
    </aside>

    <!-- Maincard -->
    <main class="flex flex-col w-full relative overflow-auto scrollable-none">

        <!-- Video -->
        <div class="w-full video-cont">
            <video id="video" class="video-js vjs-default-skin w-full custom-video" controls preload="auto" data-setup='{}'>
                <source th:src="${movie.video.url}" type="video/mp4">
            </video>
        </div>

        <!-- Movie Info -->
        <div class="bg-gray-950 w-full border-solid border-t border-color-mishtv">

            <!-- Main-->
            <section class="flex flex-row m-4">
                <div class="h-full mr-2 my-auto">
                    <img class="rounded-lg w-32 h-fit" th:src="${movie.image}" th:alt="'Movie ' + ${movie.id}">
                </div>
                <div class="flex flex-col justify-center w-full overflow-hidden">
                    <p class="flex flex-row gap-1">
                        <a th:each="actor : ${movie.cast}" th:text="'#' + ${actor}" th:href="@{/backoffice/cast/{actor}(actor=${actor})}"
                           class="text-xs text-purple-500 hover:cursor-pointer">
                        </a>
                    </p>
                    <h1 class="text-md font-bold w-3/4 whitespace-nowrap overflow-hidden text-ellipsis" th:text="${movie.title}">Movie title</h1>
                    <p class="justify-center">
                        <span class="text-xs text-gray-400" th:text="${movie.date}">
                        </span>
                        <a th:each="genre : ${movie.genres}"
                           th:href="@{/backoffice/genre/{genre}(genre=${genre})}">
                           <span th:text="${genre}"
                                 class="inline-block badge-mishtv font-semibold rounded-full px-2 text-xs mr-2 mb-0.5 font-bold" style="">
                           </span>
                        </a>
                    </p>
                </div>
                <div class="flex gap-2 py-2">
                    <!-- TODO: ui btns -->
                    <div th:replace="(~{ui/pending :: pending(movie=${movie})})"></div>
                    <div th:replace="(~{ui/favorite :: favorite(movie=${movie})})"></div>
                    <div>
                        <button> Reportar problema</button>
                    </div>
                </div>
            </section>

            <!-- Metadata -->
            <div class="bg-[#1f1f23] text-sm flex flex-col relative m-4 gap-1 px-4 py-4 rounded-md">
                <p><strong>Estudio:</strong>
                    <a th:href="@{/backoffice/studio/{studio}(studio=${movie.studio})}" class="text-purple-500" th:text="${movie.studio}"></a>
                </p>
                <p><strong>Duración:</strong> <span th:text="${movie.duration}"></span></p>
                <p><strong>Director:</strong> <span th:text="${movie.director}"></span></p>
                <div th:replace="(~{ui/rating :: rating(movie=${movie})})"></div>
            </div>

            <!-- Metadata -->
            <div class="bg-[#1f1f23] text-sm flex flex-col relative m-4 gap-1 px-4 py-4 rounded-md">
                <p th:text="${movie.description}"></p>
            </div>
        </div>
    </main>
    <!-- Sidebar Right -->
    <!--<aside th:replace="~{fragments/chat :: chat}"></aside>-->
</div>
<script th:src="@{/js/video.js}"></script>
</body>
</html>